@font-face {
  font-family: 'PKMN RBYGSC';
  src: url('../assets/fonts/PKMN-RBYGSC.woff2') format('woff2'),
      url('../assets/fonts/PKMN-RBYGSC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

::selection{
  background-color: lightblue;
  color: darkblue;
  transition: 1s;
}


.Pokeapp {
  text-align: center;
  font-family: 'PKMN RBYGSC';
}

.poke-logo {
  height: calc(1vw + 1vh);  
  margin: 0 .5vw;
}

@media (prefers-reduced-motion: no-preference) {
  .poke-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.poke-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;  
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(.8vw + .8vh);
  color: white;
}

.poke-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
