h1{
    font-size: calc(2vw + 2vh);
}

h3{
    margin-bottom: 0%;
}

.pokemonList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.listNav{
    position: absolute;
    right: 2vw;
    top: 20%;
}